<ion-header>
  <ion-navbar color="primary">
    <ion-title>
        Offline Document
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item onclick="openDocumentConte()">
      <ion-avatar item-start>
        <img src="assets/imgs/book.png">
      </ion-avatar>
      <h2>Conte</h2>
    </ion-item>

    <ion-item onclick="openDocumentSymfony">
      <ion-avatar item-start>
        <img src="assets/imgs/livre30.png">
      </ion-avatar>
      <h2>Symfony</h2>
    </ion-item>

  </ion-list>
</ion-content>
